body{
	background-color: beige;
}

#loginDiv{
	width: 200px;
	height: auto;
	padding-bottom: 10px;
	background-color: darkblue;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
	margin:0 auto;
	border-radius: 15px;
}

#dataDiv{
	width: 780px;
	height: auto;
	background-color: lightblue;
	border-radius: 10px;
	margin:0 auto;
}
td {
	color: white;
}

