body{
	background: #007bff;
}

.cool-link{
	text-decoration:none;

	color: black;
	transition: 0.25s;

	font-size: large;
}
.cool-link:hover{
	transition: 0.25s;
	color: #007bff;
}
.cool-link:link{
	text-decoration:none;
}